body{
    background-color: rgb(22, 22, 22);
}

/*Style font*/

.font-all{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

/*Navegação Style*/
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.75); }
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color: rgba(255, 27, 65, 1); }
.navbar-dark .navbar-nav .nav-link.disabled {
    color: rgba(255, 255, 255, 0.75); }

.nav-link{
    color:rgba(255, 27, 65, 1);
}
.nav-link:hover{
        color: white; 
}

/*Audio player style*/

.titleText{
    color: white;
}
.colorTextRosa{
    color:#FF1B41;
}
.title-album{
    color: white;
}
.custom-range::-webkit-slider-thumb{
    background: #FF1B41 linear-gradient(180deg, #FF1B41, #FF1B41) repeat-x;

}
#soundOnOff{
    transform: translateY(3px) translateX(-20px);
}
#sliderVol{
    width: 50px;
    transform: translateX(-65px)
}
#titleMusic{
    margin-left: 5%;
    opacity: 0;
}
#track{
    opacity: 0;
}
